header {
  height: 120px;
  width: 100%;
  background-color: #2e1114; }
  header .header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header .header-container .logo {
      background-size: cover;
      background-position: center;
      padding-left: 40px; }
    header .header-container a {
      font-size: 40px;
      padding-right: 60px;
      font-family: "Quicksand", sans-serif; }

header {
  height: 100px; }

.hero-container {
  background: url("../img/adi-constantin-65004.jpg");
  background-size: cover;
  background-position: 50% 50%; }

.card {
  background-color: #83677B; }

main {
  background-color: #ADADAD;
  height: 100%;
  width: 100%;
  margin-top: 10px; }
  main .main-container {
    height: 100%;
    width: 100%; }
    main .main-container .profile-container1 {
      padding-top: 60px; }
    main .main-container .profile-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 40px; }
      main .main-container .profile-container .profile {
        height: 200px;
        width: 200px;
        background-color: red;
        padding-top: 100px; }
      main .main-container .profile-container .description-container {
        width: 600px;
        text-align: center; }
