@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700);
h1, h2, h3, h4 {
  font-family: "Quicksand", sans-serif; }

h1 {
  font-weight: bold; }

a {
  font-family: "Quicksand", sans-serif; }

p {
  font-family: "Ebgaramond", serif; }

header {
  height: 120px;
  width: 100%;
  background-color: #2e1114; }
  header .header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    header .header-container .logo {
      background-size: cover;
      background-position: center;
      padding-left: 40px; }
    header .header-container a {
      font-size: 40px;
      padding-right: 60px; }

header {
  height: 100px; }

.hero {
  height: 50vh; }

.hero-container {
  background: url("../img/adi-constantin-65004.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height: 100%; }

body {
  background: #f1f1f1;
  margin: 2rem; }

.blog-card1 {
  margin-top: 20px; }

.blog-card {
  transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  margin: 0 auto 1.6%;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  line-height: 1.45em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .blog-card:hover .details {
    left: 0; }
  .blog-card:hover.alt .details {
    right: 0; }
  .blog-card.alt .details {
    right: -100%;
    left: inherit; }
  .blog-card .photo {
    height: 200px;
    position: relative; }
    .blog-card .photo.photo1 {
      background: url("../img/Rome.jpg") center no-repeat;
      background-size: cover; }
    .blog-card .photo.photo2 {
      background: url("../img/porto.jpg") center no-repeat;
      background-size: cover; }
    .blog-card .photo.photo3 {
      background: url("../img/london.jpg") center no-repeat;
      background-size: cover; }
    .blog-card .photo.photo4 {
      background: url("../img/porto.jpg") center no-repeat;
      background-size: cover; }
  .blog-card .details {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    color: #fff;
    font-family: "Open Sans";
    list-style: none;
    margin: 0;
    padding: 10px 15px;
    height: 200px;
    /*POSITION*/
    position: absolute;
    top: 0;
    left: -100%; }
    .blog-card .details > li {
      padding: 3px 0; }
    .blog-card .details li:before, .blog-card .details .tags ul:before {
      font-family: FontAwesome;
      margin-right: 10px;
      vertical-align: middle; }
    .blog-card .details .author:before {
      content: "\f007"; }
    .blog-card .details .date:before {
      content: "\f133"; }
    .blog-card .details .tags ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .blog-card .details .tags ul:before {
        content: "\f02b"; }
    .blog-card .details .tags li {
      display: inline-block;
      margin-right: 3px; }
    .blog-card .details a {
      color: inherit;
      border-bottom: 1px dotted; }
      .blog-card .details a:hover {
        color: #75D13B; }
  .blog-card .description {
    padding: 10px;
    box-sizing: border-box;
    position: relative; }
    .blog-card .description h1 {
      font-family: "Roboto";
      line-height: 1em;
      margin: 0 0 10px 0; }
    .blog-card .description h2 {
      color: #9b9b9b;
      font-family: "Open Sans";
      line-height: 1.2em;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 400;
      margin: 1.2% 0; }
    .blog-card .description p {
      position: relative;
      margin: 0;
      padding-top: 20px; }
      .blog-card .description p:after {
        content: "";
        background: #75D13B;
        height: 6px;
        width: 40px;
        /*POSITION*/
        position: absolute;
        top: 6px;
        left: 0; }
    .blog-card .description a {
      color: #75D13B;
      margin-bottom: 10px;
      float: right; }
      .blog-card .description a:after {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        content: "\f061";
        font-family: FontAwesome;
        margin-left: -10px;
        opacity: 0;
        vertical-align: middle; }
      .blog-card .description a:hover:after {
        margin-left: 5px;
        opacity: 1; }

@media screen and (min-width: 600px) {
  .blog-card {
    height: 200px;
    max-width: 600px; }
    .blog-card:hover .photo {
      transform: rotate(5deg) scale(1.3); }
    .blog-card:hover.alt .photo {
      transform: rotate(-5deg) scale(1.3); }
    .blog-card.alt .details {
      padding-left: 30px; }
    .blog-card.alt .description {
      float: right; }
      .blog-card.alt .description:before {
        transform: skewX(5deg);
        right: -15px;
        left: inherit; }
    .blog-card.alt .photo {
      float: right; }
    .blog-card .photo {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      float: left;
      height: 100%;
      width: 40%; }
    .blog-card .details {
      width: 40%; }
    .blog-card .description {
      float: left;
      width: 60%;
      z-index: 0; }
      .blog-card .description:before {
        transform: skewX(-5deg);
        content: "";
        background: #fff;
        width: 100%;
        z-index: -1;
        /*POSITION*/
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0; } }

main {
  background-color: #83677b;
  height: 100%;
  width: 100%;
  border: 1px solid black; }
  main .main-container {
    height: 100%;
    width: 100%; }
    main .main-container .profile-container1 {
      padding-top: 60px; }
    main .main-container .profile-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 40px; }
      main .main-container .profile-container .profile {
        height: 200px;
        width: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 2px solid black;
        box-shadow: 5px 10px #888888; }
      main .main-container .profile-container .description-container {
        width: 600px;
        text-align: center;
        padding-left: 40px;
        padding-right: 40px; }
      main .main-container .profile-container .profile-1 {
        background-image: url("../img/shawn.jpg"); }
      main .main-container .profile-container .profile-2 {
        background-image: url("../img/aku.jpg"); }
      main .main-container .profile-container .profile-3 {
        background-image: url("../img/gurjeet.jpg"); }
      main .main-container .profile-container .profile-4 {
        background-image: url("../img/lakshmi.jpg"); }

footer {
  height: 150px;
  background: #ADADAD;
  padding: 80px 0; }

.icons {
  margin: 20px 10px;
  text-align: center; }

.socialbtn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 2px solid #ddd;
  /* add border to the buttons */
  box-shadow: 0 3px 3px #999;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 27px;
  float: right;
  margin: 10px; }

.facebookBtn {
  background: #4060A5;
  content: "\f09a"; }

.facebookBtn:before {
  font-family: "FontAwesome";
  content: "\f09a"; }

.facebookBtn:hover {
  color: #4060A5;
  background: #fff;
  border-color: #4060A5; }

.twitterBtn {
  background: #00ABE3; }

.twitterBtn:before {
  font-family: "FontAwesome";
  content: "\f099"; }

.twitterBtn:hover {
  color: #00ABE3;
  background: #fff;
  border-color: #00ABE3; }

.linkedinBtn {
  background: #0094BC; }

.linkedinBtn:before {
  font-family: "FontAwesome";
  content: "\f0e1"; }

.linkedinBtn:hover {
  color: #0094BC;
  background: #fff;
  border-color: #0094BC; }

.fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }

.fa-instagram:before {
  font-family: "FontAwesome"; }

.fa-instagram:hover {
  color: #0094BC;
  background: #fff;
  border-color: #0094BC; }
