.blog-container{
  height: 100%;
  padding-top: 70px;
  margin: 0 auto;
  text-align: left;
  width: 60%;

  h2 {
    font-weight: bold;
    text-align: left;
    font-size: 60px;

  }
  h6{
    text-align: left;
    font-style: italic;
  }

  .paragraph-container {
    font-size: 23px;
    padding-top: 20px;
    text-align: justify;
  }

}
